<%- include('includes/header.ejs') %>
        <title>404 - THE PAGE IS NOT AVAILABLE</title>
        <h1> 404 </h1>
        <p>page is not available...</p>
        <a href="/source/templates/main.ejs"> Go to main page...</a>
<%- include('includes/footer.ejs') %>